   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>|网站标题|</title>
    <meta name="description" content="|网站内容|" />
    <meta name="keywords" content="|网站关键字|" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>

</head>
<body>
    <div id="top"> 
        <div id="top_con">
            <span> <a style="cursor: pointer;"  href="/login/default.aspx" >
                [登录]</a> | <a style="cursor: pointer;"  href="/register/default.aspx" >
                [注册]</a>  
                <a href="#" target="_blank">[旅游论坛]</a> 
                <a href="http://www.177dx.com" target="_blank">丹霞山旅游</a>
                | <a href="#"  >游酷旅游网</a></span>旅游酒店预订|旅游住宿|旅游宾馆
            | 自助旅游？请选-游酷旅游网！<em>  

 <a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=1939539&amp;Site=QQ咨询&amp;Menu=yes"
                            target="_blank">
                            <img style="vertical-align: middle" border="0" alt="QQ" src=" http://wpa.qq.com/pa?p=1:1939539:4">在线客户</a> 

   
            </em>
        </div>
    </div>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="/index.html">
                    <img alt="游酷旅游网" src="/img/logo.gif" /></a></div>
            <div id="header_ad">
                <div class="">
                    <a href="#"   title="酒店广告">
                        <img width="658" height="60" src="/img/top_ad.gif" border="0" alt="游酷旅游广告" /></a></div>
            </div>
        </div>
        <div class="clearfloat">
        </div>
      