   
        <div id="footer">
            
            <p>
                版权：游酷旅游网 Copyright 20011-2012 Corporation, All Rights Reserved
                <br>
               	本站为广大旅游解决疑难问题，为广大游客出行带来信息的便利！
                  <br>
                  欢迎旅游团队与本网站合作！<a href="/iss_support.html" target="_blank"><strong>技术支持</strong></a>
            </p>
           
        </div>
 
    </div>
</body>
</html>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/14940869.js"></script>
<noscript><a href="http://www.51.la/?14940869" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/14940869.asp" style="border:none" /></a></noscript>

 
