<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuestionImport.Properties.Settings.DB_MultiAreaConnectionString"
            connectionString="Data Source=.;Initial Catalog=DB_MultiArea;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuestionImport.Properties.Settings.DB_MultiAreaConnectionString1"
            connectionString="Data Source=.;Initial Catalog=DB_MultiArea;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>