<?xml version="1.0" encoding="utf-8"?>
<daoConfig  xmlns="http://ibatis.apache.org/dataAccess" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers  resource="Config/IBatis/providers.config"/>
  
  <context id="SqlMapDao" default="true">
		<properties resource="Config/IBatis/database.config"/>
		<!-- ==== SqlClient configuration =========	-->
		<database>      
		    <provider name="sqlServer2.0"/>
			<!--provider name="OleDb1.1"/-->
			<!--provider name="oracleClient1.0"/-->
			<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};"/>
			<!--dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/-->
            <!--dataSource name="iBatisNet" connectionString="User ID=${userid}; Password=${password}; Data Source=${database}"/-->
			<!--dataSource name="iBatisNet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=${datasource};User Id=${userid};Password=${password}"/-->
		</database>				
		<daoSessionHandler id="SqlMap" >
			<property name="resource" value="Config/IBatis/SqlMap.config"/>
		</daoSessionHandler>
	  <daoFactory>

		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Administrator]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Administrator]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Comment]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Comment]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Cookbook]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Cookbook]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Digg]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Digg]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Hirecar]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Hirecar]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Hotel]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Hotel]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Hotelorder]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Hotelorder]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Module]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Module]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Moduletype]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Moduletype]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.News]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.News]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Newstype]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Newstype]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Picturelist]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Picturelist]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Products]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Products]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Productstype]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Productstype]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Questions]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Questions]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Replyquestion]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Replyquestion]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Restaurant]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Restaurant]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Resuser]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Resuser]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Room]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Room]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Shop]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Shop]],dx177.DataAccess" />		  
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Sumarycomment]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Sumarycomment]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Users]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Users]],dx177.DataAccess" />
		  <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.BaseDictTag]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.BaseDictTag]],dx177.DataAccess" />
      <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.BusIssueInfo]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.BusIssueInfo]],dx177.DataAccess" />
      <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Friendlink]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Friendlink]],dx177.DataAccess" />
      <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Sites]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Sites]],dx177.DataAccess" />
      <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Sitetype]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Sitetype]],dx177.DataAccess" />
      <dao interface="dx177.DataAccess.Dao.Interfaces.IBatisDAO`1[[dx177.Model.Bus.Myhotellist]],dx177.DataAccess" implementation="dx177.DataAccess.Dao.Implementations.BatisDAO`1[[dx177.Model.Bus.Myhotellist]],dx177.DataAccess" />



    </daoFactory>
	</context>
</daoConfig>