<?xml version="1.0" encoding="utf-8" ?> 
 
<settings>
	<add key="userid" value="sa" />
	<add key="password" value="" />
	<add key="database" value="177dx_db" />
	<add key="datasource" value="ZTE-502613\MYDB" />
  
</settings>


<!--
  <add key="userid" value="nw16059" />
  <add key="password" value="s9g5s8w4r5" />
  <add key="database" value="nw16059_DB" />
  <add key="datasource" value="112.126.94.59" />
  -->  