<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	
  <properties resource="Config/IBatis/database.config"/>
	

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>  
	<database>	
	    <provider name="sqlServer2.0"/>
		<!--provider name="OleDb1.1"/-->
		<!--provider name="oracleClient1.0"/-->
		<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};"/>
		<!--dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/-->
		<!--dataSource name="iBatisNet" connectionString="User ID=${userid}; Password=${password}; Data Source=${database}"/-->
		<!--dataSource name="iBatisNet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=${datasource};User Id=${userid};Password=${password}"/-->
	</database>

	<sqlMaps>
		<sqlMap resource="Maps/Common_Use_File.xml" />
		<sqlMap resource="Maps/Procedure_Serial.xml" />		
		<sqlMap resource="Maps/Bus/Administrator.xml" />
		<sqlMap resource="Maps/Bus/Administrator1.xml" />		
		<sqlMap resource="Maps/Bus/Comment.xml" />
		<sqlMap resource="Maps/Bus/Comment1.xml" />
		<sqlMap resource="Maps/Bus/Cookbook.xml" />
		<sqlMap resource="Maps/Bus/Cookbook1.xml" />
		<sqlMap resource="Maps/Bus/Digg.xml" />
		<sqlMap resource="Maps/Bus/Digg1.xml" />
		<sqlMap resource="Maps/Bus/Hirecar.xml" />
		<sqlMap resource="Maps/Bus/Hirecar1.xml" />
		<sqlMap resource="Maps/Bus/Hotel.xml" />
		<sqlMap resource="Maps/Bus/Hotel1.xml" />
		<sqlMap resource="Maps/Bus/Hotelorder.xml" />
		<sqlMap resource="Maps/Bus/Hotelorder1.xml" />
		<sqlMap resource="Maps/Bus/Module.xml" />
		<sqlMap resource="Maps/Bus/Module1.xml" />
		<sqlMap resource="Maps/Bus/Moduletype.xml" />
		<sqlMap resource="Maps/Bus/Moduletype1.xml" />
		<sqlMap resource="Maps/Bus/News.xml" />
		<sqlMap resource="Maps/Bus/News1.xml" />
		<sqlMap resource="Maps/Bus/Newstype.xml" />
		<sqlMap resource="Maps/Bus/Newstype1.xml" />
		<sqlMap resource="Maps/Bus/Picturelist.xml" />
		<sqlMap resource="Maps/Bus/Picturelist1.xml" />
		<sqlMap resource="Maps/Bus/Products.xml" />
		<sqlMap resource="Maps/Bus/Products1.xml" />
		<sqlMap resource="Maps/Bus/Productstype.xml" />
		<sqlMap resource="Maps/Bus/Productstype1.xml" />
		<sqlMap resource="Maps/Bus/Questions.xml" />
		<sqlMap resource="Maps/Bus/Questions1.xml" />
		<sqlMap resource="Maps/Bus/Replyquestion.xml" />
		<sqlMap resource="Maps/Bus/Replyquestion1.xml" />
		<sqlMap resource="Maps/Bus/Restaurant.xml" />
		<sqlMap resource="Maps/Bus/Restaurant1.xml" />
		<sqlMap resource="Maps/Bus/Room.xml" />
		<sqlMap resource="Maps/Bus/Room1.xml" />
		<sqlMap resource="Maps/Bus/Shop.xml" />
		<sqlMap resource="Maps/Bus/Shop1.xml" />
		<sqlMap resource="Maps/Bus/Sumarycomment.xml" />
		<sqlMap resource="Maps/Bus/Sumarycomment1.xml" />
		<sqlMap resource="Maps/Bus/Users.xml" />
		<sqlMap resource="Maps/Bus/Users1.xml" />		
		<sqlMap resource="Maps/Bus/Resuser.xml" />
		<sqlMap resource="Maps/Bus/Resuser1.xml" />
		<sqlMap resource="Maps/Bus/BaseDictTag.xml" />
		<sqlMap resource="Maps/Bus/BaseDictTag1.xml" />
    <sqlMap resource="Maps/Bus/BusIssueInfo.xml" />
    <sqlMap resource="Maps/Bus/BusIssueInfo1.xml" />
    <sqlMap resource="Maps/Bus/Friendlink.xml" />
    <sqlMap resource="Maps/Bus/Friendlink1.xml" />
    <sqlMap resource="Maps/Bus/Sites.xml" />
    <sqlMap resource="Maps/Bus/Sites1.xml" />
    <sqlMap resource="Maps/Bus/Sitetype.xml" />
    <sqlMap resource="Maps/Bus/Sitetype1.xml" />
    <sqlMap resource="Maps/Bus/Myhotellist.xml" />
    <sqlMap resource="Maps/Bus/Myhotellist1.xml" />
  </sqlMaps>
</sqlMapConfig>