<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dx177.Business.Properties.Settings.DataAccessQuickStart"
            connectionString="Data Source=hds-004.hichina.com;Initial Catalog=hds0040800_db;Persist Security Info=False;User ID=hds0040800;Password=8120413a"
            providerName="System.Data.SqlClient" />
        <add name="dx177.Business.Properties.Settings.DB_MultiAreaConnectionString"
            connectionString="Data Source=.;Initial Catalog=DB_MultiArea;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>