<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
    <section name="rewriter" type="HiChina.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, HiChina.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="agent_id" value="2184892"/>
    <add key="agent_md" value="a54f41ce0b2fb2e0"/>
    <add key="url_city" value="http://open.zhuna.cn/api/gateway.php?method=city"/>
    <add key="url_area" value="http://open.zhuna.cn/api/gateway.php?method=cbd"/>
    <add key="url_hotelupdateinfo" value="http://union.api.zhuna.cn/hotel/xml/index.xml"/>
    <add key="url_hotelretrieve" value="http://open.zhuna.cn/api/gateway.php?method=search"/>
    <add key="url_hotelpicture" value="http://open.zhuna.cn/api/gateway.php?method=hotel.pic"/>
    <add key="url_hotelinfo" value="http://open.zhuna.cn/api/gateway.php?method=hotel.info"/>
    <add key="url_cbd" value="http://open.zhuna.cn/api/gateway.php?method=cbd"/>
    <add key="url_chain" value="http://open.zhuna.cn/api/gateway.php?method=chain"/>
    <add key="ConnectionNewString" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=hds0040800;pwd=8120413a;Initial Catalog=hds0040800_db; Data Source=hds-004.hichina.com"/>
    <add key="NeedValidateCode" value="0"/>
    <add key="DomainUri" value="youcod.com"/>
    <!--网页默认关键字配制  开始-->
    <add key="PageTitle" value=" - 一起去丹霞"/>
    <add key="PageKeywords" value=" - 一起去丹霞"/>
    <add key="PageDescription" value=" - 丹霞山酒店预定,饭店预定,租车信息发布,信息沟通网站"/>
    <!--网页默认关键字配制  结束-->
    <!--时间控件 开始-->
    <add key="MY97_DATEJS_FOLDER" value="js/My97DatePicker"/>
    <!--时间控件 结束-->
    <add key="MLM.DefaultLangID" value="2052"/>
    <!--FCKEditor 配制开始-->
    <add key="FCKeditor:BasePath" value="~/js/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="~/UploadFile/FCKeditor/"/>
    <!--FCKEditor 配制结束-->
  </appSettings>
  <connectionStrings>
    <add name="DataAccessQuickStart" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;User ID=hds0040800;pwd=8120413a;Initial Catalog=hds0040800_db; Data Source=hds-004.hichina.com"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataAccessQuickStart"/>
  <system.web>

    <!-- 
        <globalization  responseEncoding="gb2312"/>
            设置 compilation debug="true" 可将调试符号插入 
            已编译的页面中。但由于这会  
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
    <authentication mode="Windows"/>
    <!--
        <customErrors mode="On"></customErrors>
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

      
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages>
      <controls>
        <add src="/web/usercontrols/home_hotel_2.ascx" tagName="home_hotel_2" tagPrefix="ucMy"/>
        <add src="/web/usercontrols/home_questions.ascx" tagName="home_questions" tagPrefix="ucMy"/>
        <add src="/web/usercontrols/home_new.ascx" tagName="home_new" tagPrefix="ucMy"/>
        <add src="/web/usercontrols/right_hireCar.ascx" tagName="right_hireCar" tagPrefix="ucMy"/>
        <add src="/web/usercontrols/right_restaurant1.ascx" tagName="right_restaurant1" tagPrefix="ucMy"/>
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <!--<add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />-->
    </httpHandlers>
    <httpModules>
      <add type="HiChina.UrlRewriter.RewriterHttpModule, HiChina.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="MyProfile" duration="60" varyByParam="*" enabled="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime requestValidationMode ="2.0" />
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="HiChina.UrlRewriter.RewriterHttpModule, HiChina.UrlRewriter" name="UrlRewriter"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <handlers>
      <add name="x" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <castle>
    <components>
      <component id="IMultiPictures" service="MutiPictureUpload.Interface.IMultiPictures, MutiPictureUpload" type="dx177.Business.Bus.UploadPicturesBLL, dx177.Business"/>
      <component id="IViewTimesInterface" service="ViewTimes_0_1.IViewTimesInterface, ViewTimes_0_1" type="ViewTimes_0_1.ViewTimesImpelement, ViewTimes_0_1"/>
    </components>
  </castle>
  <rewriter>
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.pdf|\.css|\.js|\.html|\.htm)(\?.+)?)$" to="$1" processing="stop"/>
    <rewrite url="^~888" to="~/index.html" processing="stop"/>
    <rewrite url="^~/admin/$" to="~/admin/login.aspx" processing="stop"/>
    <rewrite url="^~/admin$" to="~/admin/login.aspx" processing="stop"/>
    <rewrite url="^~/member-(.*).aspx" to="~/web/admin/member-$1.aspx" processing="stop"/>
    <rewrite url="^~/login/" to="~/web/admin/member-login.aspx" processing="stop"/>
    <rewrite url="^~/register/default.aspx$" to="~/web/admin/member-register-transfer.aspx" processing="stop"/>
    <rewrite url="^~/register/qy/default.aspx$" to="~/web/admin/member-register-transfer1.aspx" processing="stop"/>
    <rewrite url="^~/register/(\d*)/default.aspx" to="~/web/admin/member-regediter.aspx?type=$1" processing="stop"/>
    <rewrite url="^~/jingdianlst" to="~/wapper/jingdia/list.aspx" processing="stop"/>
    <rewrite url="^~/product" to="~/master/product/default.aspx" processing="stop"/>
    <!--子景区-->
    <rewrite url="^~/hotel" to="~/master/hotel/default.aspx" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/hotel$" to="~/Wapper/hotel/list.aspx?jingqucode=$1" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/hotel\?(.*)" to="~/Wapper/hotel/list.aspx?jingqucode=$1&amp;$2" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/hotel/(\d*)$" to="~/html/$1/hotel_$2.html" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/hotel/(\d*)\?(.*)" to="~/html/$1/hotel_$2.html?$3" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/hotelorder\?(.*)" to="~/Wapper/hotel/orderhotel.aspx?jingqucode=$1&amp;$2" processing="stop"/>
    <rewrite url="^~/news" to="~/master/news/default.aspx" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/news$" to="~/Wapper/news/list.aspx?jingqucode=$1" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/news\?(.*)" to="~/Wapper/news/list.aspx?jingqucode=$1&amp;$2" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/news/(\d*)$" to="~/html/$1/news_$2.html" processing="stop"/>
    <rewrite url="^~/questions" to="~/master/questions/default.aspx" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/questions$" to="~/Wapper/question/list.aspx?jingqucode=$1" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/questions\?(.*)" to="~/Wapper/question/list.aspx?jingqucode=$1&amp;$2" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/questions/(\d*)$" to="~/html/$1/question_$2.html" processing="stop"/>
    <rewrite url="^~/sites" to="~/master/sites/default.aspx" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/sites$" to="~/Wapper/sites/list.aspx?jingqucode=$1" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/sites\?(.*)" to="~/Wapper/sites/list.aspx?jingqucode=$1&amp;$2" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])\/sites/(\d*)$" to="~/html/$1/sites_$2.html" processing="stop"/>
    <!--首页-->
    <rewrite url="^~/JQ_(\w*[^\/\s])$" to="~/JQ?jingqucode=$1" processing="stop"/>
    <rewrite url="^~/JQ_(\w*[^\/\s])/$" to="~/JQ?jingqucode=$1" processing="stop"/>
 
  </rewriter>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  
</configuration>